html {
    font-size: 10px;
}
@font-face {
    font-family: "LeOsler Rough-Regular";
    src: url("../font/LeOsler_Rough-Regular.otf") format("OpenType");
}
.banner{
    position: relative;
    background: url("../img/banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 32rem;
    overflow: hidden;
}
.banner .text-block{
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 50px;
    text-align: center;
    z-index: 999;
}
.banner .text-block .text{
    font-family: "LeOsler Rough-Regular";
    text-transform: uppercase;
    color: #b65688;
    font-size: 4.2rem;
    line-height: 1;
    text-shadow:
            -0   -5px 0   #FFFFFF,
            0   -5px 0   #FFFFFF,
            -0    5px 0   #FFFFFF,
            0    5px 0   #FFFFFF,
            -5px -0   0   #FFFFFF,
            5px -0   0   #FFFFFF,
            -5px  0   0   #FFFFFF,
            5px  0   0   #FFFFFF,
            -1px -5px 0   #FFFFFF,
            1px -5px 0   #FFFFFF,
            -1px  5px 0   #FFFFFF,
            1px  5px 0   #FFFFFF,
            -5px -1px 0   #FFFFFF,
            5px -1px 0   #FFFFFF,
            -5px  1px 0   #FFFFFF,
            5px  1px 0   #FFFFFF,
            -2px -5px 0   #FFFFFF,
            2px -5px 0   #FFFFFF,
            -2px  5px 0   #FFFFFF,
            2px  5px 0   #FFFFFF,
            -5px -2px 0   #FFFFFF,
            5px -2px 0   #FFFFFF,
            -5px  2px 0   #FFFFFF,
            5px  2px 0   #FFFFFF,
            -3px -5px 0   #FFFFFF,
            3px -5px 0   #FFFFFF,
            -3px  5px 0   #FFFFFF,
            3px  5px 0   #FFFFFF,
            -5px -3px 0   #FFFFFF,
            5px -3px 0   #FFFFFF,
            -5px  3px 0   #FFFFFF,
            5px  3px 0   #FFFFFF,
            -4px -5px 0   #FFFFFF,
            4px -5px 0   #FFFFFF,
            -4px  5px 0   #FFFFFF,
            4px  5px 0   #FFFFFF,
            -5px -4px 0   #FFFFFF,
            5px -4px 0   #FFFFFF,
            -5px  4px 0   #FFFFFF,
            5px  4px 0   #FFFFFF,
            -5px -5px 0   #FFFFFF,
            5px -5px 0   #FFFFFF,
            -5px  5px 0   #FFFFFF,
            5px  5px 0   #FFFFFF,
            -5px -5px 0   #FFFFFF,
            5px -5px 0   #FFFFFF,
            -5px  5px 0   #FFFFFF,
            5px  5px 0   #FFFFFF;
}
.banner .text-block .cookie-block{
    display: inline-block;
}
/*.animate{*/
/*    animation: wiggle-left 6s ease-in-out infinite;*/
/*}*/

/*.animate-right{*/
/*    animation: wiggle-right 6s ease-in-out infinite;*/
/*}*/

.animate-hide-show{
    animation: hide-show 1s infinite ease-in-out;
}
.banner .text-block span.cookie{
    position: relative;
    top: 8px;
    display: inline-block;
    background: url("../img/cookie.png");
    height: 49px;
    width: 48px;
}
.banner .cookie{
    position: absolute;

}
.banner .cookie_1{
    display: inline-block;
    background: url("../img/cookie_ico_1.png");
    height: 316px;
    width: 962px;
    animation-delay: 0.5s;
}
.banner .cookie_2{
    display: inline-block;
    background: url("../img/cookie_ico_2.png");
    height: 316px;
    width: 962px;
    top: 8%;
    left: 5%;
    animation-delay: 1.3s;
}
.banner .cookie_3{
    display: inline-block;
    background: url("../img/cookie_ico_3.png");
    height: 316px;
    width: 962px;
    animation-delay: 1.8s;
}
.banner .cookie_4{
    display: inline-block;
    background: url("../img/cookie_ico_4.png");
    height: 36px;
    width: 36px;
    left: 66%;
    top: 32%;
    animation-delay: 2s;
}
.banner .cookie_5{
    display: inline-block;
    background: url("../img/cookie_ico_5.png");
    height: 45px;
    width: 46px;
    top: 74%;
    left: 44.5%;
    animation-delay: 0.1s;
}
.banner .cookie_6{
    display: inline-block;
    background: url("../img/cookie_ico_6.png");
    height: 123px;
    width: 124px;
    top: 50%;
    left: 50%;
    animation-delay: 2s;
}
.banner .cookie_7{
    display: inline-block;
    background: url("../img/cookie_ico_7.png");
    height: 100px;
    width: 149px;
    left: 50%;
    animation-delay: 0.4s;
}
.banner .cookie_8{
    display: inline-block;
    background: url("../img/cookie_ico_8.png");
    height: 40px;
    width: 40px;
    left: 71%;
    top: 40%;
    animation-delay: 0.2s;
}
.banner .cookie_9{
    display: inline-block;
    background: url("../img/cookie_ico_9.png");
    height: 33px;
    width: 34px;
    left: 68.5%;
    top: 16.8%;
    animation-delay: 1.5s;
}
.banner .cookie_10{
    display: inline-block;
    background: url("../img/cookie_ico_10.png");
    height: 143px;
    width: 212px;
    bottom: -6%;
    left: 61%;
    animation-delay: 2s;

}
.banner .cookie_11{
    display: inline-block;
    background: url("../img/cookie_ico_11.png");
    height: 69px;
    width: 61px;
    bottom: 3px;
    left: 49%;

}
.banner .cookie_12{
    display: inline-block;
    background: url("../img/cookie_ico_12.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 5%;
    left: 29%;
    animation-delay: 0.2s;

}
.banner .cookie_13{
    display: inline-block;
    background: url("../img/cookie_ico_13.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 62%;
    left: 39%;
    animation-delay: 0.7s;
}
.banner .cookie_14{
    display: inline-block;
    background: url("../img/cookie_ico_14.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 38%;
    left: 45%;

}
.banner .cookie_15{
    display: inline-block;
    background: url("../img/cookie_ico_15.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 22%;
    left: 40%;
    animation-delay: 1s;
}
.banner .cookie_16{
    display: inline-block;
    background: url("../img/cookie_ico_16.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 46%;
    left: 41%;
    animation-delay:2s;
}
.banner .cookie_17{
    display: inline-block;
    background: url("../img/cookie_ico_17.png") no-repeat;
    height: 69px;
    width: 61px;
    top: 44%;
    left: 37%;
    animation-delay: 3s;


}

.cookie.el_2{
    animation-delay: 0.5s;
}

.cookie.animate-hide-show.hide{
    display: none;
}